html,body, .page-wrapper {
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%; 
    padding: 0;
    margin: 0;
    line-height: 1.55;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000;
    font-family: 'Playfair Display', 'Montserrat', serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }




  h1, h2, h3, h4 {
  
    margin: 0 0 0.6rem 0;
    color: #222;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .app-container{
    height: 100%;
  }
  .app-wrapper > *:first-child {
    flex: 1;
  }

  
  .ui.header.nav-title, .nav-title-span,.look,.header, .product h5,
  .product p,
  .product button{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20)
  }
  .checkbox-box,.order-box-1, .inside-box {
    display: flex;
    align-items: center;  
    justify-content: center;
    font-weight: bold;
  }
  .Navbar-squeres
  ,.burger-dropdown
  ,.product-price,
  .segment-product-price,.order-circle,.order-segment-name,.order-product-count
  ,.order-product-price, .delivery-flag
  {
    position: absolute;
  }
  .order-img{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.look{
    color: #5e5d5c;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
}
.look:hover{
    color: rgb(237, 32, 196);
}

.arro{
  font-size: 22px;
}

.user-name-after-log-in{
  position: fixed; 
  top: 10px;
  left: 20px;
  font-size: 15px;
}
.log-in-after-log-in{
  display: inline-block;
}
/* Główne kontenery */


/* Obrazki produktów */




  .test{
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
    margin: 10px 10px;
  }
  .arro{
    margin-left: 30px;
  }
  .custom-link {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 13px;
  }
  .logIn-box{
    text-align: center;
    justify-content: center;
    width: 450px;
    height: 200px;
  }

  .Navbar-squeres.Cart{
    width: 400px;
    height: 200px;
    left: -300px;
    top: 30px;
    padding: 0 20px;
  }

 

  

  
  .added-product-box{
    position: relative;
    top: 30px;
    width: 100%;
    height: 120px;
    border: 1px solid;
  }

 

  .inside-box {

    gap: 15px; 
    font-weight: bold;
    font-size: 16px;
  }
  .amount-icon {
    font-size: 14px;
  }



  
.burger-dropdown{
  display: flex;
  flex-direction: column;
  color: #2F1B0C;
  background: #fff;
  width: 150px;
  height: 100px;          
  top: 50px;
  left:0;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  z-index: 10;
}
.item{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.item:hover{
  color: #f2711c;
}
.desktop-only {
  display: none;
}





.product button,  button{
  border-radius: 18px;  border: 1px solid rgb(248, 2, 125);background-color: transparent;
}












.product{ 
  margin-top: 30px !important;text-align: center;
}
.product:last-child{
  margin-bottom: -50px !important;
}

.product h5,
.product p,
.product button {
  font-family: 'Arial', sans-serif;
  margin: 8px 0;
  transition:  0.3s;
}
.product button {
  padding: 4px;
}
.product button:hover{
  background-color: #F0D8B0;
}








.product-price{
  top: 105px !important;
  left: 200px !important;
  font-size: 13px;
  font-weight: bold;
}

.payment{
  margin-left: -100px;
}


.left-box{
  height: 90px;
  width: 70%;
  background-color: grey;
}
.left-box-title{
 font-weight: bold;
 margin-left: 30px;
 margin-top: 40px !important;
 padding-top: 20px;
}
.left-box-p{
  margin-left: 30px;
  padding-bottom: 20px;
}
.payment{
  position: relative;
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #1F1F1F;
  border-radius: 2px;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}







.segment-product-price{
  left: 550px;
}


.segment-product-amount{
  padding-top: 10px;
margin-left: 10px;
font-weight: bold;
}






.order-box-1{

  margin-top: 20px;
  gap: 30px;
  width: 80%;
}
.left-order-brand{
  flex: 1;
  font-size: 25px;
  color: #4A2E0F;
  font-weight: bold;
}
.order-brand-2{
  color: #DEB887;
}
.right-navbar{
  flex: 1;
}
.order-finalization-title, .order-finalization-under-title-line{
  text-align: center;
}
.order-finalization-title{
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
}
.order-finalization-under-title-line{
  font-size: 15px;
  color: grey;
  font-weight: bold;
}
.order-box2{
  display: flex;
  justify-content: space-between; 
  width:80%;
  margin-top: 20px;
  gap: 10px;
}
.left-order-finalization-box{
  flex: 0 0 62%;
  min-width: 0;
  min-height: 100vh;
  padding-bottom: 150px;
}
.right-order-finalization-box{
  position: relative;
  height: 100%;
  flex: 0 0 38%;
  min-width: 0;
  margin-bottom: 60px;
}
.big-letter-order{
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
} 
.order-input{
  height: 45px;
  padding-left: 10px;
}
.order-input::placeholder {
  color: #888;        
  font-size: 16px;    
}
.email{
  width: 70%;
}
.order-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}
.order-name{
  width: 100%;
}

.order-wrapper{
  width: 44.5%;
}
.order-under-input{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.name-error,
.surname-error,
.adres-error,
.post-error,
.city-error,
.phone-error,
.e-mail-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.order-adress, .order-information, .nip{
  width: 91%;
}
.checkbox-box {
  width: 15px;
  height: 15px;
  border: 1px solid #000;

  cursor: pointer;
  font-size: 10px;
  margin: 10px 0;
}
.order-checks{
  display: flex;
  gap: 10px;
}

.order-circle{
  top: -8px;
  margin-left: 21px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #ccc;
  background-color: royalblue;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
  z-index: 100000000;
}
.order-summary, .shipping-summary,.total-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-summary{
  margin: 20px 0 5px 0;
}
.shipping-summary{
  margin-bottom: 15px;
}

.order-segment{
  position: relative;
}
.order-img{
  display: block;
  height: 150px;
  width: 150px;
  background-image: url('../img/jewelry_header_1200px.png');

}
.order-segment-name,.order-product-count{
  left: 47%;
}
.order-segment-name,.order-product-price{
  top: 15px;
}
.order-product-count{
  top: 130px;
}
.order-product-price{
top: 10%;
left: 85%;
}
.order-line{
  width: 80%;
  margin: 35px 0;
}

.checkbox-box{
  width: 20px;
  height: 20px;
  border: 1px solid gray;
 
  cursor: pointer;
}

.delivery-boxes.selected {
  border-color: green;
  background-color: #e0ffe0;
 
}

.delivery-boxes{
  cursor: pointer;  border: 2px solid transparent;
  padding: 10px;
  margin-bottom: 10px;
}
.delivery-title{
  font-weight: bold;
 
  margin-bottom: 15px;
}
.delivery-flag{
  right: 15px;
  top: 10px;
}
.place-order-btn {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.place-order-btn:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f);
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.place-order-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}.payment-option.selected {
  border-color: green;
  background-color: #e0ffe0;

}
.payment-option {
  transition: all 0.3s ease;
}



.no-messages {
  text-align: center;
  color: #777;
  font-size: 1rem;
}







.password-reset-p {
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  user-select: none;
  color: #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.password-reset-p:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #0d6efd;
}
.password-wrapper {
  max-width: 400px;
  margin: 50px auto;
  width: 90%;
  padding: 30px 25px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.resset-password-h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.reset-password-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.reset-password-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

.resset-password-btn {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resset-password-btn:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

.password-wrapper p {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.after-log-in ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;

}

.after-log-in .custom-link {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  text-align: center;
}

.after-log-in .custom-link a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.after-log-in .custom-link:hover {
  background: #f5f7fa;
  color: #0d6efd;
}

.main-page-mobile{
  font-size: 14px;
  display: inline;
  cursor: pointer;
}
.header-animate {
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 1s ease forwards;
}










/* Desktop - wszystkie rozwinięte */





/* Mobile i tablet - sekcje rozwijane */





@media(max-width:992px){

  .arro{
    font-size: 20px;
    margin-left: 70px !important;
  }







.left-box{
height: 90px;
width: 70%;
}


.segment-product-price.price{
left: 300px !important;
}




.order-segment-name,.order-product-count{
left: 55%;

}
.order-product-count{
top: 110px;
}
.order-product-price,.order-segment-name,.order-product-count{
font-size: 13.5px;
}
.order-product-price {
left: 83%;
}
.order-segment{
height: 150px;
}
.order-img{
height: 120px;
width: 120px;
}







.user-name-after-log-in{
  font-size: 14px ;
}

  }
  @media(max-width: 768px){
    .ui.header.nav-title{
      font-size: 30px;
    }.main-page-mobile,a.look {color: white;}
    a.look{
      font-size: 20px;

    }

    a.look:hover{
      color: #DEB887;
    }

    .mobile-only {
      display: block;
    }
    .Nav-input{
      width: 130px;
      height: 25px;
      font-size: 13px;
    }  
    .Navbar-squeres.Cart{
      width: 300px ;
      left: -200px  ;  
    }

    .fa-cart-shop{
      font-size: 40px !important;
    }
    .home-segment {
      margin-top: 80px;
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    }.ui.container{margin-left: 0 !important;}
    #nav{
      height: 130px;
    }

   


 
   


 
  

  



    .product-price{
      top: 270px;
      left: 40px;
    }

    


 
    .segment-product-price.price{
      left: 320px !important;
      font-weight: bold;
    }

  
    .product-add-segmen{
      left: 0 !important; 
    }

  

    .order-segment-name,.order-product-count{
      left: 48%;
      
    }
    .order-product-count{
      top: 85px;
    }
  
    .order-product-price,.order-segment-name,.order-product-count{
      font-size: 13.5px;
    }
    .order-product-price {
    left: 83%;
    }
   
    .order-segment{
      width: 130%;
      height: 120px;
    }
    .order-img{
      position: absolute;
      top: 6px;
      left: 5px;
      height: 105px;
      width: 105px}
     
      .order-box2{
        display: block;
      }
      .beyond768{
        height: 100vh;
      
      }
      .order-footer-max-768{
        display: none;
      }


    
      .segment-product-amount{
        left: 100px !important;
        font-size: 12px !important;
      }
      .discount-btn{
        font-size: 13px;
      }
      
   
  
      .user-name-after-log-in{
        font-size: 12px;
      }  
   

  @media (min-width:450px) and (max-width: 568px){
    
    .ui.header.nav-title{
      font-size: 25px !important;
    }
    a.look{
      font-size: 19px !important;
      }

      .Nav-input{
        width: 70px !important;
        font-size: 12px;
      }


   
  


    
  


    }
  
    

  @media(max-width:330px){ 
  .product{
    width: 45%;margin-left: 3px !important;
   }



 
}
@media(max-width: 450px){
  

  a.look{
    font-size: 17px !important;
    }
  .Nav-input{
    width: 60px !important;
    font-size: 12px;
  }
  .Navbar-squeres.Cart{
    height: 230px;
    width: 200px !important ;
    left: -100px !important;  
  }
  .ui.header.nav-title{
    font-size: 20px !important;
  }








  .user-name-after-log-in{
    font-size: 10px ;
  }
  



  .ui[class*="right floated"].header {
    right: -25px !important;
  }
  .burger-dropdown{
    top: 30px;
    left:0px !important;
  }
   .ui[class*="left floated"]{
    width: 10%;
    left: -30px;
   }
   .product{
    width: 45%;margin-left: 10px;
   }

  

   .product-price{
    top: 230px;
   }

 
 

  




  .left-box{
    height: 90px;
    width: 70%;
  }


 
  .segment-product-price.price{
    font-size: 12px;
    font-weight: bold;
    left: 150px !important ;
  }






}
          
@media(max-width: 1200px){
    .segment-product-price.price{
      left: 350px;
    }
    .order-segment-name,.order-product-count{
      left: 55%;
      font-size: 13px;
    }
    .order-segment-price{
      font-size: 13px;
    }
    .order-segment{
      height: 150px;
    }
    .order-img{
      height: 120px;
      width: 120px;
    }


  }
    
    @media(max-width:670px){
   
      .order-segment-name,.order-product-count{
        left: 54%;
      }
      .order-segment-name,.order-product-price{
        top: 10px;
      } 
      .order-product-price,.order-segment-name,.order-product-count{
        font-size: 12.5px;
      }
    }

    @media(max-width: 576px){
  
   
    
 
      .left-box{
        height: 90px;
        width: 70%;
      }

    .segment-product-amount{
      left:  60px !important;
      font-size: 12px !important;
    }
    
  
      .segment-product-price.price{
        font-size: 12px;
        font-weight: bold;
        top: 50px;
        left: 170px !important;
      }



    }
    
    
  
  
  @media(min-width: 768px){
   
    .desktop-only {
      display: inline-block;
    }
  
    .mobile-only {
      display: none;
    }

    .delivery-boxes{
      width: 80%;
    }

  }
  @media(min-width:992px){
    .payment, .segment-product-price{
      left: 350px;
    }
  .payment{
      margin-bottom: 10px;
    }


  }
  @media(min-width:1200px){
   
   .payment, .segment-product-price{
      left: 440px;
    }

  }
  @media(min-width: 1350px){
    .segment-product-price.price{
      left: 500px;
    }
  }

  @keyframes slideDown {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }